*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer ;
}

input {
    width: 15%;
    height: 30px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0 10px;
   
}