
    * {
        margin: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box;
    }
    
    .content {
        margin-top: 20px;
        margin-bottom: 30px;

    }
    
    .filaloja{
       margin-top: 20px;
      
    }

    .filaloja table {
        max-width: 90%;
        float: left;
    }

    .filaloja .menufilaloja{
        border: 1px solid #dee2e6;
        float: left;
        max-width: 10%;
        height: 100px;
        
    }



        .td{
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        }



    .btn-voltar{
        width: 150px;
        height: 90px;
        
    }
 

    .hedinfo {
        padding:9px 15px;
        border-bottom:1px solid #eee;
        background-color: #e64e56;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
     }

     #mmacao{
        display: flex;
        justify-content: space-around; 
        
     }


     #divmodalsetretorno {
        display: flex;
        justify-content: space-around; 
     }

     #listafila tbody tr th{
        vertical-align:middle;
     }
     #listafila tbody tr td{
        vertical-align:middle;
     }
    